/*frontend/html/style.css*/

h1 {
    text-align: center;
}

/***************navbar styles************/
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0; /* Ensure the navbar starts from the left edge */
    width: 100%;
    z-index: 1000;
    box-sizing: border-box; /* Include padding in the element's total width */
}

.navbar-content {
    display: flex;
    /*gap: 100000px;  gap doesnt work */
    align-items: center;

}

.navbar a {
    background-color: #555; /* Button color */
    color: #fff; /* Text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


.navbar a:hover {
    background-color: #777; /* Button hover color */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}


/********* Tic Tac Toe styles **********/

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border: 1px solid #000;
    cursor: pointer;
}

#message {
    margin-top: 20px;
}

#resetButton {
    margin-top: 20px;
}


/*********** Account page styles ************/
.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Adjust width as needed */
    max-width: 400px; /* Set a max-width for larger screens */
    margin: auto; /* Center the container on the page */
}

.login-container h2 {
    text-align: center; /* Center the Login title */
    margin-bottom: 20px;
}

.login-container label,
.login-container input,
.login-container a,
.login-container button {
    width: 90%; /* Adjust width to fit within the form */
    margin-top: 10px; /* Space out elements */
    box-sizing: border-box; /* Include padding and border in width */
}

.login-container a {
    display: inline-block;
    background-color: #dd4b39; /* Google's brand color */
    color: white;
    text-align: center;
    padding: 12px;
    border-radius: 4px;
    text-decoration: none; /* Remove underline from link */
}

.login-container a.disabled {
    background-color: #cc0000; /* Red background for logged-in state */
    cursor: default; /* Neutral cursor to indicate no action */
    pointer-events: none; /* Disable any click actions */
}

.login-container a:hover {
    background-color: #c23321; /* Darker shade on hover */
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container input[type="email"],
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #218838;
}

.hidden {
    display: none;
}

.login-container.disabled {
    pointer-events: none; /* Disables interactions */
    opacity: 0.7; /* Partial transparency to indicate non-interactivity */
    filter: grayscale(100%); /* Adds a grayscale to imply disabled state */
}

input:disabled, button:disabled {
    background-color: #ccc; /* Greyed out buttons */
    cursor: not-allowed; /* Red circle cursor */
}

button {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover, button:disabled {
    background-color: #777; /* Lighter gray when disabled */
}

.message-success {
    color: #4CAF50;
    background-color: #DFF0D8;
    border: 1px solid #C3E6CB;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}