/*
 Styles used by game pages
*/



/* Popup for Searching Player */
#searchingPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 1000;
}

#cancelSearchButton {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cancelSearchButton:hover {
    background-color: #777;
}